thread = 8
cpath = "./skynet/cservice/?.so"
bootstrap = "snlua bootstrap"

start = "main"
harbor = 0

root = "./skynet/"
lualoader = root .. "lualib/loader.lua"
luaservice = "./service/?.lua;" .. "./service/?/init.lua;" .. root.."service/?.lua;"
lua_path = "./etc/?.lua;" .. "./lualib/?.lua;"..root.."lualib/?.lua;"..root.."lualib/?/init.lua"
lua_cpath = "./luaclib/?.so;" .. root .. "luaclib/?.so"
